In [24]:
import pandas as pd

In [2]:
df=pd.read_csv('../pandas_journey-main/mydata/food_delivery_datasets.csv')

In [3]:
df

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587
...,...,...,...,...,...,...,...,...,...,...,...
1071,FOOD-10921,0,2018-09-20T15:01:52.152828,900,103200,1296335,5.0,4000,742742150,Completed,0.248328
1072,FOOD-10265,5000,2018-07-26T14:43:23.655294,1579,145700,1135466,5.0,7000,742566851,Completed,0.268251
1073,FOOD-10534,0,2018-08-21T20:10:59.283185,2606,177200,1383625,NaN,15000,742571888,Completed,0.132528
1074,FOOD-10158,0,2018-07-16T14:42:23.214427,2428,49300,1094787,5.0,9000,742725064,Completed,0.167946
1075,FOOD-10770,0,2018-09-11T14:18:19.494258,1547,43000,1010922,5.0,9000,742594499,Completed,0.358051

In [20]:
condition = df['voucher_amount']>0
df['cust_id'][condition].value_counts()
condition2 = df['cust_id']==316834
df['resto_id'][condition2][condition].value_counts()

742676756    4
742527780    2
742675846    1
742613767    1
742554025    1
742538410    1
742577516    1
742525710    1
742611439    1
742741233    1
742683707    1
742799965    1
742600510    1
Name: resto_id, dtype: int64

In [5]:
condition = df['rating']==5
df['rating'][condition].count()

574

In [9]:
condition = df['status']=='Completed'
df['order_id'][condition].count()

881

In [16]:
condition = df['rating']==5
condition2 = df['cust_id']==1135466
df['cust_id'][condition][condition2].value_counts()

1135466    14
Name: cust_id, dtype: int64

In [17]:
df['eta_seconds'].mean()

1632.2890334572492

In [21]:
df['food_price'].mean()

78041.82156133829

In [23]:
condition = df['voucher_amount']>0
df['order_id'][condition].value_counts()

FOOD-10765    1
FOOD-11072    1
FOOD-10912    1
FOOD-11003    1
FOOD-10196    1
             ..
FOOD-10387    1
FOOD-10878    1
FOOD-11008    1
FOOD-10600    1
FOOD-10668    1
Name: order_id, Length: 162, dtype: int64